@import url('https://fonts.googleapis.com/css2?family=Muli&family=Noto+Sans+HK:wght@400;700&display=swap');

body {
  font-family: Muli, 'Noto Sans HK', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

.Side-menu.Side-menu-churchadmin {
	.divider {
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    padding: 7px 14px;
    color: #3f6ad8;
	}

	.item {
		&.item-level-1 {
      .item-title {
        padding: 7px 30px;
      }

      .item-label {
        font-size: 16px;
      }

      &.active {
        background-color: #F7F8FC;
        font-weight: bold;

        .item-title {
          border-left: 5px solid #3f6ad8;
          padding-left: 25px;
        }
      }
    }

    &:hover {
      background: #EEEEEE;
    }
  }
}

.root-50 {
  font-size: 15px;
}